/*styles*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: white;
  color: #222;
  padding: 1rem;
}

/*header*/
header {
  text-align: center;
  margin-bottom: 1rem;
}

header img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/*main*/
h1, h2 {
  text-align: center;
  margin: 1rem 0;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
}

/*footer*/
footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #555;
}
